{% extends 'base.html' %}

{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}
<div class="container">
   <a href="{% url 'create'  %}">Add</a>
<div>
    <div class="row">
        {% for drink in drinksUser %}
        <div class="col-md-3">
            <div class="card mb-3" style="width: 18rem;">

                <img src="{% static 'images/1.jpg' %}" alt="" class="card-img-top">

                <div class="card-body">
                    <h4 class="card-title">{{ drink.name }}</h4>
                    <p class="card-text">{{ drink.description }}</p>
                    <ul>
                        {% for ingredient in drink.ingredients.all %}
                            <li>{{ ingredient.name }} | {{ ingredient.amount }} {{ ingredient.unit }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}