{% extends 'base.html' %}
{% load static %}

{% block title %}
Cocktail details
{% endblock title %}

{% block content %}
<div class="container" style="display: flex">
        <div class="left" style="flex: 50%">
            <img src="{{ drink.image.url }}" alt="{{ drink.name }}">
        </div>
        <div class="right" style="flex: 50%">
            <h1>{{ drink.name }}</h1>
            <p>{{ drink.description }}</p>
            <p> Składniki: </p>
            <ul>
                {% for ingredient in drink.ingredients.all %}
                    <li>{{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.unit }}</li>
                {% endfor %}
            </ul>
            <p style="font-size: small">Dodano: {{ drink.creation_date }}</p>
        </div>
    </div>


<h3>Sprawdź ostatnio dodane koktajle</h3>
{% if last_cocktails %}
    <div class="container text-center">
      <div class="row align-items-start">
        {% for cocktail in last_cocktails %}
            <div class="col">
                <a href="{% url 'detail_cocktail' cocktail.id %}">
                    <div class="card-testimonial">
                            <article>
                                <picture>
                                    <source media="(min-width: 768px)" srcset="{{ cocktail.image.url }}">
                                    <img src="{{ cocktail.image.url }}" alt="Drink Image">
                                </picture>
                                <h4>{{ cocktail.name }}</h4>
                                <article class="short-description">
                                    <p>{{ cocktail.description }}</p>
                                </article>
                            </article>
                    </div>
                </a>
            </div>
        {% endfor %}
      </div>
    </div>
{% endif %}


{% endblock content %}